<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hacker News</title>
	<link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
</head>

<body>
	<nav class="navbar is-white topNav mb-3">
		<div class="container">
			<div class="navbar-burger burger" id="burger-menu" data-target="topNav">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="topNav" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/">Home</a>
					{{#if loggedIn}}
					<a class="navbar-item" href="/dashboard">Dashboard</a>
					{{/if}}
				</div>
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="field is-grouped">
							{{#if loggedIn}}
							<p class="control">
								<a class="button is-small is-info is-outlined" id="logout-btn">
									<span class="icon">
										<i class="fa fa-user"></i>
									</span>
									<span>Logout</span>
								</a>
							</p>
							{{else}}
							<p class="control">
								<a class="button is-small" href="/register">
									<span class="icon">
										<i class="fa fa-user-plus"></i>
									</span>
									<span>
										Register
									</span>
								</a>
							</p>
							<p class="control">
								<a class="button is-small is-info is-outlined" id="login-btn" href="/login">
									<span class="icon">
										<i class="fa fa-user"></i>
									</span>
									<span>Login</span>
								</a>
							</p>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<main>
		{{{ body }}}
	</main>
	<footer class="footer mt-3">
		<div class="container">
			<div class="content has-text-centered">
				<div class="columns is-mobile is-centered">
					<div class="field is-grouped is-grouped-multiline">
						<div class="control ml-2">
							<div class="tags has-addons">
								<a class="tag is-link" href="https://github.com/dopecello/hacker-news-clone">Portfolio
									Project</a>
								<span class="tag is-light">William Locke</span>
							</div>
						</div>
						<div class="control ml-2">
							<div class="tags has-addons">
								<a class="tag is-link">The source code is licensed</a>
								<span class="tag is-light">MIT &nbsp;<i class="fa fa-github"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="/javascript/burger-toggle.js"></script>
	{{#if loggedIn}}
	<script src="/javascript/logout.js"></script>
	{{/if}}
</body>

</html>