<section class="columns is-centered ml-2">
  <form class="new-post-form column is-three-quarters">
      <h2 class="title is-2">Create New Post</h2>
    <div>
      <label for="post-title">Title</label>
      <input class="input mb-2" type="text" placeholder="Enter Title here...">
    </div>
    <div>
      <label for="post-url">Link</label>
<input class="input mb-4" type="email" placeholder="Enter Email here...">    </div>
    <button type="submit" class="button is-info mb-4">Create Post</button>
  </form>
</section>