		<section class="container">
			<div class="columns">
				<div class="column is-3">
					<a class="button is-primary is-block is-alt is-large" href="#">New Post</a>
					<aside class="menu">
					</aside>
				</div>
				<div class="column is-9">
					<div class="box content">
						{{#each posts as |post|}}
						{{> post-info post}}
						{{/each}}
					</div>
				</div>
			</div>
		</section>