<section class="hero is-link is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <form>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" id="email-login" type="email" placeholder="Your Email"
                                    autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" id="password-login" type="password"
                                    placeholder="Your Password">
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth" id="login-btn-form">Log In <i
                                class="fa fa-sign-in" aria-hidden="true"></i></button>
                        <div class="mt-2">
                            Don't have an account? <a href="/register" class="has-text-link"><strong>Sign up here.</strong></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/javascript/login.js"></script>